<<<<<<< Updated upstream
// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
@import "foundation/components/grid-5";
//

@import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


//////////////////////////////
///
/// LARAVEL.GR CUSTOM CSS
///
///////////////////////////////


// Google Font
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,greek);

body {
  background: url(../images/lback.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
    font-size:1.5em;

}

.header{
  position:absolute;
  margin-top:-80px;
  z-index:6;
  a{
    text-decoration: none;
    color:blue;
    &:hover{
      color:#00006F;
    }
  }
}
.theme{
    width:100%;
    z-index: 5;
    margin-top:100px;
    position:relative;
    img{
      width:100%;
    }
}
.whatisit, nav{
    font-size: .9em;
    margin-top:2.3em;
}
.whatisit{
    text-align: right;
}
nav{
    text-align: left;
}
.logo{
    text-align: center;
}
.community{
  background-color: #0169CA;
  padding:20px;
  width:100%;
  text-align:center;
  color:white;
}
footer{
  margin-top:20px;
  font-size: .7em;
  text-align: center;
  position:relative;
}

.devthumbs{
    width:100%;
    z-index: 5;
    position:relative;
    img{
      width:100%;
    }
}