@import "settings";

// Importing all of Foundation
@import "ZURB-foundation";

body {
  background: url(../images/lback.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$maincolor: #28578A;